*{
    padding: 0px;
    margin: 0px;
    line-height: 0px;
}

.cell1 {
    display: inline-block;
    background-color: blue;
    width: 20px;
    height: 20px;
}
.cell0 {
    display: inline-block;
    background-color: brown;
    width: 20px;
    height: 20px;
}